body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 2px solid;
    
}
.title{
    text-align: left;
    font-size: 40px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.use{
    margin-top: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 200px;
}
.inputs{
    padding: 14px;
    border: 2px solid rgb(240, 214, 214);
    border-radius: 5px;
    text-align: left;
    width: 300px;
    padding-left: 30px;
}
.btn{
    margin-top: 18px;
    width: 350px;
    background-color:green;
    color: black;
    padding: 10px;
    border: 1px,solid;
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
    background-color: aqua;
}
.log{
    text-decoration: none;
    text-transform: capitalize;
}
.butto{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.google,
.facebook{
    padding: 10px 5px;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.facebook{
    background-color: #3b5998;
    color: white;
}
.or{
    text-align: center;
    font-size: 20px;
    margin-top: 8px;
}

form div i{
    position: absolute;
    padding-left: 10px;
    padding-top: 15px;
}
.failure-icon,
.error{
    color: red;
}
.success-icon{
    color: green;
}
.inputs::placeholder{
    text-align:left ;
}
.image{
   background-color: tomato;
    width: 400px;
    height: 500px;
    padding: 20px;
    padding-bottom: 12px;
    background-image: url('images/illustration.svg');
}
.text{
   
}